<div class ="center">
</div>
<table class = "center">
	<tr>
		<td>
      <a href="../login" data-no-turbolink="true"><span style="font-size: 22px">Students</span></a>
		</td>

		<td>
      <%= link_to 'Sponsors', projects_path, :class => "user-type" %>
		</td>

		<td>
      <%= link_to 'Professors', professors_path, :class => "user-type" %>
		</td>
	</tr>
</table>
