<p id="notice"><%= notice %></p>

<ul class="nav nav-pills">
	<li role="presentation" class="active"><a href="/">Home</a></li>
</ul><br />

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-heading">
			<h3 class="panel-title">
				Project Created for:
				<%= @project.company_name %>
			</h3>
		</div>
	</div>
</div>